name: Trigger Parent Repo Update

on:
  push:
    branches:
      - main

  workflow_dispatch:

jobs:
  notify-parent-repo:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Trigger update in parent repository
        env:
          TOKEN: ${{ secrets.CI_TOKEN }}
        run: |
          curl -L -X POST -H "Accept: application/vnd.github.v3+json" \
            -H "Authorization: token ${TOKEN}" \
            https://api.github.com/repos/hady-awayda/fullstack-repo/actions/workflows/106111709/dispatches \
            -d '{"event_type":"submodule-updated"}'
